<div class="h2">
<h2>Quiz Rules</h2>
</div>
<ul>
  <li>Answers can be up to 2 decimal places. Rounding for the 2nd decimal position follows normal rounding rules [>= 5, round up].</li>
  <li>If you answer three questions incorrectly, the quiz will automatically end and save your current score. <strong>They do not need to be in a row.</strong></li>
  <li>If you skip a question, you will lose one point.</li>
  <li>If you answer a question incorrectly, you do not lose a point. You just do not gain one.</li>
  <li>If you answer a question correctly, you gain one point.</li>
</ul>

